name: build-file-service

on:
  push:
    branches:
      - "master"

  # Allow workflow to be manually run from the GitHub UI
  workflow_dispatch:

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push container
        uses: docker/build-push-action@v2
        with:
          context: .
          platforms: linux/amd64, linux/arm64/v8
          push: true
          pull: true
          tags: shirokikh/file-service:latest
          target: latest
          cache-from: type=registry,ref=shirokikh/file-service:buildcache
          cache-to: type=registry,ref=shirokikh/file-service:buildcache,mode=max
